/* styles/fonts.css */
@font-face {
    font-family: 'KeepCalm';
    src: url('KeepCalm.ttf');
    /* Add more src declarations for different file formats if needed */
    font-weight: normal;
    font-style: normal;
  }
  